spring:
  datasource:
    url: jdbc:postgresql://<host>:<port>/<db>
    username: <user>
    password: <pass>
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true

logging:
  level:
    org:
      hibernate:
        type: trace